Django>=5.0
djangorestframework
djangorestframework-simplejwt
drf-spectacular
python-dotenv
django-filter
drf-nested-routers
django-cors-headers
docxtpl
markdown2
Pygments
psycopg2-binary
dj-database-url
whitenoise
beautifulsoup4
